@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

#container {
    max-width: 960px;
    margin: auto;
}

#container2 {
    max-width: 960px;
    margin: auto;
}


#header {
    background-color: white;
    color: black;
    height: 90px;
    border-bottom: 6px solid white;
}

#nav {
    text-align: right;
    padding-left: 500px;
}

#nav a {
    padding: 0 8px;
    text-decoration: none;
    color: orange
}

.logo {
    margin-top: 40px;
    font-size: 5rem;
    padding-left: 10px;
}

.links {
    text-align: right;
    margin-top: 40px;
    font-size: 1.1rem;
    color: black;
}

.links a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.orange {
    color: orange;
}

#gallery {
    padding: 20px;
}

h1 {
    color: orange;
    padding: 20px;
}

h2 {
    padding: 20px;
}

h3 {
   font-size: 1.5rem;
}



